<div style="border: 1px solid black">
  <div>こっちは dashboard.html.erb の yield に埋め込まれる</div>
  <h1>
    UsersController#index
  </h1>

  <h3>継承元:DashboardController</h3>
  <h3>レイアウトファイル: views/layouts/aaaa.html.erb</h3>


</div>
<%= link_to "ルートへ", root_path %>
