<!DOCTYPE html>
<html>
  <head>
    <title>LayoutSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
  <% if content_for? :content %>
    <%= yield :content %>
  <% else %>
    <div style="border: 1px solid black;">
      <%= yield %>
    </div>
  <% end %>
  </body>
</html>
